html {
    background-color: #bbbbbb;
    padding: 0px;
}
body {
    width: 80%;
    min-height: calc(100vh - 4em);
    margin: 0 auto;
    padding: 2em;
    background-color: #dddddd;
    border-color: #eeeeee;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 20px;
}
p {
    color: #444444;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    line-height: 1;
    margin: 4pt;
}
p.value-description {
    text-indent: -16pt;
    margin-left: 20pt;
}
p.question {
    margin: 16pt auto;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    width: 70%;
    min-width: 500pt;
    min-height: 144pt;
    background-color: #eeeeee;
    padding: 16pt;
    border-radius: 16pt;
    font-size: 36pt;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
h1 {
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-size: 72pt;
    text-align: center;
    line-height: 72pt;
    margin-top: 0pt;
    margin-bottom: 0pt;
}
h2 {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    margin-top: 12pt;
    margin-bottom: 0pt;
}
h3 {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 18pt;
    line-height: 18pt;
    margin-top: 12pt;
    margin-bottom: 0pt;
}
li {
    font-size: 16pt;
    text-indent: 16pt;
}
a {
    font-family: inherit;
}

.selection {
    background-color: #4caf50;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 8pt;
    width: 50%;
    min-width: 500pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24pt;
    margin: -2px auto;
    cursor: pointer;
}

.num_input {
    background-color: #2196f3;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 8pt;
    width: 50%;
    min-width: 500pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24pt;
    margin: -2px auto;
    cursor: pointer;
}

.text_input {
    background-color: #2196f3;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 8pt;
    width: 50%;
    min-width: 500pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24pt;
    margin: -2px auto;
    cursor: pointer;
}

img.center {
    display: block;
    margin: 1em auto;
    width: 20%;
    min-width: 600pt;
}
.button {
    background-color: #2196f3;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 8pt;
    width: 50%;
    min-width: 500pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24pt;
    margin: -2px auto;
    cursor: pointer;
}
.small_button, .small_button_off {
    background-color: #333;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 8pt;
    width: 10%;
    min-width: 100pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18pt;
    margin: -2px auto;
    cursor: pointer;
}
.small_button_off {
    background-color: #ddd;
    color: #888;
    border: 2px solid #888;
    cursor: not-allowed;
    margin: -4px auto;
}
div.axis {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.bar {
    height: 36pt;
    line-height: 36pt;
    padding: 8pt;
    margin-top: 4pt;
    margin-bottom: 4pt;
    border-width: 4px;
    border-right-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #222222;
    background-color: #eeeeee;
    display: block;
    width: 50%;
}
div.text-wrapper {
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    color: #dddddd;
    display: inline-block;
}
div.individual {
    background-color: #009999;
    text-align: left;
    border-right-style: solid;
}
div.collective {
    background-color: #DA0000;
    text-align: right;
    border-left-style: solid;
}
div.market {
    background-color: #048CF4;
    text-align: left;
    border-right-style: solid;
}
div.planned {
    background-color: #FF4900;
    text-align: right;
    border-left-style: solid;
}
div.essentialist {
    background-color: #00CC00;
    text-align: right;
    border-left-style: solid;
}
div.constructivist {
    background-color: #CD0074;
    text-align: left;
    border-right-style: solid;
}
div.pragmatic {
    background-color: #A101B3;
    text-align: right;
    border-left-style: solid;
}
div.idealist {
    background-color: #6AB001;
    text-align: left;
    border-right-style: solid;
}
div.universal {
    background-color: #048CF4;
    text-align: left;
    border-right-style: solid;
}
div.particular {
    background-color: #FFBF00;
    text-align: right;
    border-left-style: solid;
}
div.ecological {
    background-color: #00CC00;
    text-align: left;
    border-right-style: solid;
}
div.industrial {
    background-color: #FF7400;
    text-align: right;
    border-left-style: solid;
}
div.politicized {
    background-color: #009999;
    text-align: right;
    border-left-style: solid;
}
div.apolitical {
    background-color: #808080;
    text-align: left;
    border-right-style: solid;
}
div.religious {
    background-color: #FFBF00;
    text-align: right;
    border-left-style: solid;
}
div.secular {
    background-color: #A600A6;
    text-align: left;
    border-right-style: solid;
}
div.futurist {
    background-color: #074FF5;
    text-align: right;
    border-left-style: solid;
}
div.historic {
    background-color: #FF7400;
    text-align: left;
    border-right-style: solid;
}
span.weight-300 {
    font-weight: 300;
}
canvas {
    border-color: #444444;
    border-style: solid;
    border-width: 2px;
    border-radius: 8pt;
    display: block;
    margin: 8pt;
    margin-left: auto;
    margin-right: auto;
}

